<div class="row my-2">
    <mat-card>
        <mat-card-title class="text-center">
            to Array
        </mat-card-title>
    </mat-card>
</div>
<div class="row">
    <strong>Ex- 01 (OF)</strong>
    <hr>
    <div class="col-6">
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data:</strong> Users = [&#123; name: 'Anup', skill: 'angular' &#123;]
        </p>
        <hr>
        <ul>
            <li><strong>array:</strong>[{{ConvertnumberintoArray}}]</li>
    </ul>
    </div>
    <strong>Ex- 01 (OF)</strong>
    <hr>
    <div class="col-6">
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Data:</strong>1,2,3,4,5 
        </p>
        <hr>
        <ul>
            <li><strong>array:</strong>[{{anothearray}}]</li>
    </ul>
    </div>
</div>