<div class="row">
    <div class="col-3">
        <ul class="list">
            <li><a routerLink="FormEvent">form Event</a></li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list">
            <li><a routerLink="interval">interval</a></li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list">
            <li><a routerLink="ofFrom">of & From</a></li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list">
            <li><a routerLink="toarray">to Array</a></li>
        </ul>
    </div>
    <div class="col-3">
        <ul class="list">
            <li><a routerLink="customObservabel">custom Observabel</a></li>
        </ul>
    </div>

</div>